* {
  margin: 0px;
  padding: 0px;
}
.containerMain {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bodyContainer {
  display: flex;
  justify-content: center;
  width: 100%;
}

.searchBoxContainer {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  text-align: center;
}
.formContainer {
  padding: 15px;
}
.tfSearch {
  width: 100%;
}

.btnSearch {
  width: 100%;
}

.CityTemp {
  display: flex;
  justify-content: space-between;
}
.bgImages {
  position: absolute;
  width: 100%;
  min-width: none;
  height: 100vh;
  z-index: -1;
  object-fit: cover;
}

.cardContainer {
  border-radius: 0 !important;
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.88) !important;
}

.windData {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 1));
  padding-block: 30px;
  width: 100%;
}
